.table-hover {
    -webkit-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
    font-family: 'Electrolize', sans-serif;
}


.table-hover th {
    padding: 15px;
    font-size: 18px;
}

.table-hover td {
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
}

.name {
    text-decoration: underline;
}

.table-hover tbody:hover tr:hover td {
   color: #000000;
}


input {
    font-family: 'Electrolize', sans-serif;
}

select {
    font-family: 'Electrolize', sans-serif;
}


h2 {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
}

.backlink {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
}

@media(max-width:767px){  
    .table{overflow: auto;}
}