.hero {
  border-bottom: solid 6px #000000;
  font-family: "Electrolize", sans-serif;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 100px;
  padding-top: 40px;
  margin-top: 0;
  color: #000000;
  text-shadow: 4px 4px black;
  /* font-weight: bold; */
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}

.hero h2 {
  /* font-family: 'Righteous', cursive; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 36px;
  color: #ffffff;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 2px 2px black;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-fill-color: white; Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
}


@media(max-width:767px){  
  .hero h1{
    font-size:42px;
  text-align:center;
}
  
.hero h2{
  font-size:16px;
  text-align:center;

}

}

@media (max-width: 991.98px) {  .hero h1{
  font-size:48px;
text-align:center;
}

.hero h2{
font-size:22px;
text-align:center;

}}